body {
	font-family: Cursive, verdana, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}

.info {
	background-image: url('http://i.imgur.com/bl1J9OP.jpg');
	background-position: center top;
	background-size: contain;
	margin: 30px;
	color: #5877A3;
	
}