body {
	font-family: Cursive, verdana, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background-color: #E7ECFF;
}

.logo {
	position: absolute;
	left: 0; top: 0;
	width: 178 px; height: 92px;
	background-image: url("http://imgur.com/XzfbaCu");
	background-size: contain;
}

.pictures {
	position: absolute;
	left: 0; top: 92px; bottom: 0;
	width: 178px;
	background-color: #5071FF;
}

h1 {
	position: absolute;
	left:178px; right:0;
	height: 92px;
	margin-left: 5px;
}

.main {
	position: absolute;
	left: 178px; right: 0;
	top: 92px; bottom: 0;
	margin-left: 5px;
}