body {
	font-family: Cursive, verdana, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background-color: #E7ECFF;
}

.logo {
	position: absolute;
	left: 0; top: 0;
	width: 160 px; height: 158px;
	margin: 0;
}

.sidebar {
	position: absolute;
	left: 0; top: 158px; bottom: 0;
	width: 160px;
	background-color: rgb(80, 120, 255);
}

h1 {
	position: absolute;
	left:160px; right:0;
	height: 150px;
	margin-left: 5px;
	font-size: 80px;
}

.main {
	position: absolute;
	left: 160px; right: 0;
	top: 158px; bottom: 0;
	display: block;
}

.blog-item {
	border: 2px solid black;
	border-radius: 20px;
	margin: 10px;
	padding: 5px;
	text-align: left;
}

.pics {
	margin: auto;
}

.info {
	margin: auto;
	text-align: left;
}